*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "News Cycle";
  /* to prvgent scrolling of the body - we just want scrolling in the main container  */
  height: 100%;
  overflow: hidden;
  color: var(--header-font-color);
}

:root {
  --header-bg-color: #56c6c6;
  --header-height-mobile: 75px;
  --header-bg-color: #56c6c6;
  --header-font-color: hsla(200, 0%, 0%, 0.7);
  --header-nav-item-hover-bg-color: #79d2d2;
  --header-nav-item-hover-border-color: #14b8b8;
  --header-nav-item-hover-font-color: #fff;

  --form-inputs-bg-color: #f5f5f5;
  --form-inputs-border-color: #eee;

  --form-inputs-focus-bg-color: #f0f0f0;
  --form-inputs-focus-border-color: #00bcd4;
}

p {
  padding: 1em;
}
